:root {
    --body-font: "Aptos", sans-serif;
    --bs-btn-font-family: var(--body-font);

    /* Colors */
    --bs-primary: #4BA1A7;
    --bs-secondary: #F0756C;
    --bs-accent: #F5E9E9;
    --bs-light: #EFEAEA;
    --bs-dark: #111111;
    --bs-white: #FFFFFF;
    --bs-gray: #777777;

    --bs-link-color: var(--bs-dark);
    --bs-link-hover-color: var(--bs-secondary);

    --bs-body-color: var(--bs-dark);
    --bs-info: #C3C3C3;

    --swiper-pagination-color: var(--bs-secondary);
}

body {
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    background-color: var(--bs-white);
    color: var(--bs-body-color);
}

header {
    background-color: var(--bs-dark);
    color: var(--bs-primary);
    text-align: center;
    padding: 10px 0;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tile {
    flex: 1 0 300px;
    background-color: var(--bs-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.tile:hover {
    transform: scale(1.02);
}

.container-fluid {
    background-color: var(--bs-accent);
}

.btn-primary {
    color: var(--bs-white);
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    color: var(--bs-white);
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.page-link {
    color: var(--bs-dark);
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    color: var(--bs-link-hover-color);
    background-color: var(--bs-dark);
}

.active>.page-link {
    color: var(--bs-dark);
    background-color: var(--bs-accent);
}

.bg-gray { background-color: var(--bs-gray) !important; }
.bg-yellow { background-color: var(--bs-light) !important; }
.bg-green { background-color: var(--bs-accent) !important; }
.bg-teal { background-color: var(--bs-primary) !important; }

.navbar-nav .nav-link:hover {
    color: var(--bs-secondary) !important;
}

h1 {
    font-family: "Karla ExtraLight", sans-serif;
    font-weight: 300;
    font-size: 60px;
}

h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.display-1 {
    font-size: calc(4.375rem + 4.5vw);
    font-weight: 900;
    line-height: 80%;
}

.testimonial-card {
    background: var(--bs-dark);
    color: var(--bs-white);
    padding: 20px;
    border-radius: 10px;
}

.testimonial-card .postd {
    color: var(--bs-secondary);
}

.accordion-item {
    background: var(--bs-light);
}

.accordion-button {
    font-family: var(--body-font);
    background: var(--bs-light);
    border: none;
    outline: none;
    box-shadow: none;
    transition: transform 0.3s;
}

.accordion-button:not(.collapsed) {
    background: none;
    box-shadow: none;
    transform: rotate(180deg);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: var(--bs-accent);
    color: var(--bs-dark);
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background: var(--bs-gray);
    color: var(--bs-primary);
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1460px;
    }
}
